.DS_Store
.idea/
.vscode/
.vs/
.dotnet-cli/
.android-user/
.gradle-home/

client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/build/
android-client/.gradle/
android-client/build/
android-client/app/build/
android-client/local.properties
windows-client/**/bin/
windows-client/**/obj/
.dotnet-home/
.gradle-user-home/
env/

server/.pytest_cache/
.pytest_cache/
server/.venv/
server/__pycache__/
server/app/__pycache__/

*.pyc
*.sqlite3
*.db
*.log
